<%- include('./layout/auth_begin' ) %>


<h1 class="h3 mb-3 font-weight-normal">Change Password</h1>

<%- include('./layout/messages') %>

<input type="password" name="password" class="form-control" placeholder="New Password" required="">

<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>


<%- include('./layout/auth_end' ) %>