<%- include('./layout/auth_begin' ) %>




<h1 class="h3 mb-3 font-weight-normal">Delete Account</h1>

<%- include('./layout/messages') %>

<!-- <input name="email" type="email" id="email" class="form-control" placeholder="Email" required="" autofocus=""> -->
<!-- <input name="password" type="password" id="password" class="form-control" placeholder="Password" required=""> -->

<button class="btn btn-lg btn-danger btn-block" type="submit">Permanently Delete Account</button>




<%- include('./layout/auth_end' ) %>