<%- include('./layout/auth_begin' ) %>


<h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>

<%- include('./layout/messages') %>

<input type="email" name="email" class="form-control" placeholder="Email" required="" autofocus="">

<button class="btn btn-lg btn-primary btn-block" type="submit">Send Reset Email</button>

<!-- Don't have an account? <a href="/auth/signup">Sign up here</a> -->


<%- include('./layout/auth_end' ) %>