<%- include('./layout/auth_begin' ) %>


<!-- <script>
    function checkForm(form) {
        password1 = form.password1.value;
        password2 = form.password2.value;

        email1 = form.email1.value
        email2 = form.email2.value

        if (email1 != email2) {
            alert("\nEmail addresses did not match: Please try again...")
            return false;
        } else {
            if (password1 != password2) {
                alert("\nPassword did not match: Please try again...")
                return false;
            }
            else {
                return true;
            }
        }
    }
</script> -->


<h1 class="h3 mb-3 font-weight-normal">Auth - Signup</h1>

<%- include('./layout/messages') %>

<input type="email" name="email" id="email1" class="form-control" placeholder="Email address" required="" autofocus="">

<input type="password" name="password" id="password1" class="form-control" placeholder="New Password" required="">
<!-- <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm Password" required=""> -->

<button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>

Already have an account? <a href="/auth/login">Login here</a>


<%- include('./layout/auth_end' ) %>