<%- include('./layout/auth_begin' ) %>


<h1 class="h3 mb-3 font-weight-normal" style="margin-top: 16px;">Auth - Login</h1>

<%- include('./layout/messages') %>

<input name="email" type="email" id="email" class="form-control" placeholder="Email" required="" autofocus="">
<input name="password" type="password" id="password" class="form-control" placeholder="Password" required="">

<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

Don't have an account? <a href="/auth/signup">Sign up here</a>
<hr>
<a href="/auth/forgot-password">Forgot password?</a>


<%- include('./layout/auth_end' ) %>