<%- include('./layout/auth_begin' ) %>


<h1 class="h3 mb-3 font-weight-normal" style="margin-top: 16px;">Auth - Logout</h1>

<%- include('./layout/messages') %>

<button class="btn btn-lg btn-primary btn-block" type="submit">Yes</button>


<%- include('./layout/auth_end' ) %>