<%- include('./layout/auth_begin' ) %>


<h1 class="h3 mb-3 font-weight-normal">Auth - Reset</h1>

<%- include('./layout/messages') %>

<input type="password" id="inputPassword" class="form-control" placeholder="New Password" required="">
<input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" required="">

<button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>

<!-- Didn't request this? <a href="#">Report it here</a> -->


<%- include('./layout/auth_end' ) %>